{% extends 'base.html' %}

{% block title %}{{ article.article_title }}{% endblock %}

{% block content %}
<div>
    <h2>{{ article.article_title }}</h2>
    <p>{{ article.article_text }}</p>
    <em>{{ article.pub_date }}</em>
    {% if article.was_published_recently %}
        <p>Новая статья!</p>
    {% endif %}
    <hr>
        {% if latest_comments_list %}
            {% for c in latest_comments_list %}
                <p>
                    <strong>{{ c.author_name }}</strong><br>
                    <span>{{ c.comment_text }}</span>
                </p>
            {% endfor %}
        {% else %}
            <p>Комментарии не найдены!</p>
        {% endif %}
    <hr>

    <form action="{% url 'articles:leave_comment' article.id %}" method="POST">{% csrf_token %}
        <input type="text" required placeholder="Ваше имя" name="name"><br>
        <textarea name="text" required placeholder="Ваш текст ..." cols="50" rows="10"></textarea><br>
        <button type="submit">Оставить комментарий</button>
    </form>
</div>
{% endblock %}